<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action = "submitform" method="post">
USERNAME = <input type = "text" name = "username"><br><br>
   EMAIL = <input type = "text" name = "email"><br><br>
PASSWORD = <input type = "text" name = password><br><br>
 COUNTRY = <input type = "text" name = "country"><br><br>
  GENDER = <input type = "text" name = "gender"><br><br>
   <button type="submit">Submit</button>
</form>
<a href = "seedata">see data</a>
</body>
</html>